<%if user_signed_in?%>
<p id="notice"><%= notice %></p>

<hr class="divider">
<h1 style="color:#f2f2f2"><center>Proveedores</center></h1>


<table class="table">
  <thead  class="thead-inverse">
    <tr style="color:#f2f2f2">
      <th>Razon Social</th>
      <th>NIT</th>
      <th>Nombre Completo</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Estado</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr style="color:#f2f2f2">
        <td><%= provider.razon_social %></td>
        <td><%= provider.nit %></td>
        <td><%= provider.nombre_completo %></td>
        <td><%= provider.telefono %></td>
        <td><%= provider.email %></td>
        <td><%= I18n.t :"provider_status.#{provider.status}" %></td>
        <td><%= link_to 'Mostrar', provider %></td>
        <td><%= link_to 'Modificar', edit_provider_path(provider)%></td>
        <% if provider.enable? %>
          <td><%= link_to 'Desactivar', disable_provider_path(provider), data: { confirm: 'Está seguro?' }%></td>
        <% else %>
          <td><%= link_to 'Activar', enable_provider_path(provider), data: { confirm: 'Está seguro?' }%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Registro', new_provider_path%>
<%end%>
