<p id="notice"><%= notice %></p>

<p style="color:#f2f2f2">
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p style="color:#f2f2f2">
  <strong>Rol:</strong>
  <%= @employee.role %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
