<%if user_signed_in?%>
<hr class="divider">
<p id="notice"><%= notice %></p>

<div class="container">
  <ul class="list-group">

    <li class="list-group-item">
      <center><strong>Email:</strong></center>
      <center><%= @employee.email %></center>
    </li>

    <li class="list-group-item">
      <center><strong>Rol:</strong></center>
      <center><%= @employee.role %></center>
    </li>

  </ul>
</div>
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
<% end %>
