<div class="container">

  <div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">Nuestros
      <strong>Productos</strong>
    </h2>
    <hr class="divider">
    <div class="row">
      <div class="col-lg-6">
        <%= image_tag "estan.jpg", class: " img-fluid mb-4 mb-lg-0", width: "600", height: "250" %>
      </div>
      <div class="col-lg-6">
      <br>
      <br>

        <p>Nuestros Productos son totalmente confiables, ya que se obtienen directamente de proveedores 100 % garantizados, tales como la FLA, nos permite garantizar la calidad y excelente precio de nuestros productos. </p>
        <p>El portafolio de productos con el que contamos se ha extendido a otras líneas que incluyen diversas clases de licores Nacionales e importados, Cervezas, Gaseosas y Aguas.</p>
        <p>No dudes en visitarnos y disfrutar de los diferentes licores que ofrecemos en nuestra fonda, ven y diviertete con tus amigos, pareja, familia o empresa, atendemos toda clase de eventos. </p>
      </div>
    </div>
  </div>

  <div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">Galería
      <strong>Productos</strong>
    </h2>
    <hr class="divider">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
          <%= image_tag "red_label.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted">  <strong>Red label.</strong> </small>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
          <%= image_tag "smirnof.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted">  <strong>Smirnoff.</strong> </small>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <%= image_tag "cerveza.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted"> <strong> Cerveza Corona.</strong> </small>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <hr class="divider">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
          <%= image_tag "club.jpg", class: "card-img-top",width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted"> <strong> Club Colombia.</strong> </small>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
          <%= image_tag "chivas.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted">  <strong>Chivas Regal.</strong></small>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <%= image_tag "tequila.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted">  <strong>Tequila J. Cuervo.</strong></small>
            </h4>
          </div>
        </div>
      </div>
    </div>

     <hr class="divider">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
          <%= image_tag "cigarros.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted"> <strong>Cigarrillos.</strong> </small>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
          <%= image_tag "alka.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted">  <strong>Alka Seltzer.</strong> </small>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <%= image_tag "ron-med.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted"> <strong>Ron Medellín.</strong> </small>
            </h4>
          </div>
        </div>
      </div>
    </div>


     <hr class="divider">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
          <%= image_tag "buck.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted"> <strong>Buchanan's.</strong> </small>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
          <%= image_tag "old.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted">  <strong>Old Parr.</strong> </small>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <%= image_tag "vodka.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted"> <strong>Vodka. </strong> </small>
            </h4>
          </div>
        </div>
      </div>
    </div>



    </h2>
    <hr class="divider">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
          <%= image_tag "cerva.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted"> <strong> Variedad de Cervezas.</strong> </small>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
          <%= image_tag "guaro.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted">  <strong>Aguardiente Antioqueño.</strong></small>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <%= image_tag "michelada.jpg", class: "card-img-top", width: "200", height: "220" %>
          <div class="card-body text-center">
            <h4 class="card-title m-0">
              <small class="text-muted">  <strong>Ceverza Michelada.</strong></small>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
