<%= form_with(model: [:order, item], local: true) do |form| %>
  <% if item.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h2>Los siguientes errores no permiten continuar con la operación:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :order_id, value: item.order.id %>

<div class="wrap-crud100">
  <div class="select100">
    <%= form.collection_select :product_id, Product.all, :id, :name %>
  </div>

    <%= form.text_field :quantity, class:"input100", placeholder:"Cantidad"%>

  <div class="actions">
    <%= form.submit class:"crud100-form-btn", value:"Agregar Producto" %>
  </div>
</div>
<% end %>
